#-=- encoding: utf-8 -=-
SQLALCHEMY_DATABASE_URI = 'mysql://jeto:jeto@localhost/jeto'

GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
GOOGLE_LOGIN_REDIRECT_URI = 'http://jeto.local.pheromone.ca/oauth2callback'
GOOGLE_LIMIT_DOMAIN = None
BRAND_IMAGE_ASSET_FILENAME = ''
