[submodule "projects/jeto"]
	path = projects/jeto
    url = https://github.com/StudioQi/jeto.git
[submodule "projects/vagrant-worker"]
	path = projects/vagrant-worker
	url = https://github.com/StudioQi/vagrant-worker.git
[submodule "projects/htpasswd-api"]
	path = projects/htpasswd-api
	url = https://github.com/StudioQi/htpasswd-api.git
[submodule "projects/nginx-api"]
	path = projects/nginx-api
	url = https://github.com/StudioQi/nginx-api.git
[submodule "provisioning/roles/nodesource.node"]
	path = provisioning/roles/nodesource.node
	url = https://github.com/nodesource/ansible-nodejs-role.git
