[uwsgi]
#application's base folder
base = {{ home }}/{{ application_name }}
processes = 4
app = app
module = %(app)
pythonpath = %(base)
socket = {{ socket_path }}
chmod-socket    = 666
callable = app
logto = /var/log/{{ application_name }}/%n.log
workers = 10
