server {
    listen 127.0.0.1:{{ htpasswd_api_port }};
    location / {
      try_files $uri @{{ htpasswd_api_application_name }};
    }

    location @{{ htpasswd_api_application_name }} {
      include uwsgi_params;
      uwsgi_pass unix:{{ htpasswd_api_socket_path }};
    }
}
