[uwsgi]
#application's base folder
base = {{ htpasswd_api_home }}/{{ htpasswd_api_application_name }}
processes = 4
app = app
module = %(app)
pythonpath = %(base)
socket = {{ htpasswd_api_socket_path }}
chmod-socket    = 666
callable = app
logto = /var/log/{{ htpasswd_api_application_name }}/%n.log
workers = 10
python-autoreload = 1
