server {
    listen {{ vagrant_control_port }};
    server_name {{ vagrant_control_server_name }};
    location /static {
      root {{ vagrant_control_home }}/vagrant-control/vagrantControl/;
      sendfile off;
    }
    location / {
      try_files $uri @{{ vagrant_control_application_name }};
    }

    location @{{ vagrant_control_application_name }} {
      include uwsgi_params;
      uwsgi_pass unix:{{ vagrant_control_socket_path }};
    }
}
