[uwsgi]
#application's base folder
base = {{ nginx_api_install_dir }}
processes = 4
app = app
module = %(app)
pythonpath = %(base)
socket = {{ nginx_api_socket_path }}
chmod-socket    = 666
callable = app
logto = /var/log/{{ nginx_api_application_name }}/%n.log
workers = 10
python-autoreload = 1
